<div class="container">
    <div class="overlay">
        <div class="logo-div">
            <img src="images/site/PRC.png" alt="Philippine Red Cross Logo">
            <img src="images/site/RCY.png" alt="Red Cross Youth Logo">
        </div>
        <div class="log-in-header">
            <p>Philippine Red Cross</p>
            <p>Camarines Norte Chapter</p>
            <p>Red Cross Youth</p>
        </div>
        <div class="form-div">
            <form id="loginForm" action="#" method="post">
                <input type="email" id="account_email" name="account_email" required
                    placeholder="Enter your email address"><br>
                <label for="account_email">EMAIL</label>
                <br>
                <input type="password" name="account_password" id="account_password" required
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                <br>
                <label for="account_password">PASSWORD</label><br>
                <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1
                    special
                    character</span>
                <br>
                <button type="submit">LOGIN</button>

                <p>No Account? <a href="#">Register here</a>.</p>
            </form>

        </div>

    </div>


</div>